@{
}

<h1>Forgot Password</h1>
@using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post))
{
    <div class="grid-form">
        <div class="type">@Html.Label("Enter username: ")</div>
        <div>@Html.TextArea("username", null, new { @class = "textbox" })</div>
        <div class="submit-line"><input type="submit" value="Register" /></div>
    </div>
}

<br />
<br />
<div>
    <table align="center">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3" align="center">@Html.ActionLink("Login Page", "Login", "User", null, new { @class = "btn btn-primary" })</td>
            </tr>
        </tbody>
    </table>
</div>