@model Nutrition_App.Operations.Models.User.PasswordResetViewModel

@{
}

<div align="center">
    <h1>Password Reset</h1>
    @using (Html.BeginForm("PasswordResetVerification", "User", FormMethod.Post))
    {
        <form asp-action="ForgotPassword" method="post" class="mb-3">
            <table class="form-table">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><label asp-for="Username">Username: </label></td>
                        <td><input type="text" asp-for="Username" class="form-control" readonly/></td>
                        <td><span asp-validation-for="Username" class="text-danger"></span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="Password">Enter Password: </label></td>
                        <td><input type="text" asp-for="Password" class="form-control" /></td>
                        <td><span asp-validation-for="Password" class="text-danger"></span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="PasswordConfirm">Confirm Password: </label></td>
                        <td><input type="text" asp-for="PasswordConfirm" class="form-control" /></td>
                        <td><span asp-validation-for="PasswordConfirm" class="text-danger"></span></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><button type="submit" class="btn btn-primary mt-2">Reset Password</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    }
</div>

<br />
<br />
<div>
    <table align="center">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3" align="center">@Html.ActionLink("Login Page", "Login", "User", null, new { @class = "btn btn-primary" })</td>
            </tr>
        </tbody>
    </table>
</div>