@model Nutrition_App.Operations.Models.User.RegistrationViewModel
@{
}



<div align="center">
    <h1>Registration Page</h1>
    <form asp-action="Registration" method="post" class="mb-3">
        <table class="form-table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label asp-for="Username">Username: </label></td>
                    <td><input type="text" asp-for="Username" class="form-control" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Password">Password: </label></td>
                    <td><input type="text" asp-for="Password" class="form-control" /></td>
                </tr>
                <tr>
                    <td><label asp-for="PasswordConfirm">Confirm Password: </label></td>
                    <td><input type="text" asp-for="PasswordConfirm" class="form-control" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Height">Height: </label></td>
                    <td><input type="number" min="0.1" step="0.1" value="0.1" asp-for="Height" class="form-control" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Weight">Weight: </label></td>
                    <td><input type="number" min="0.1" step="0.1" value="0.1" asp-for="Weight" class="form-control" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Sex">Sex: </label></td>
                    <td align="center"><select asp-for="Sex" asp-items="Model.BinarySexes"></select></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><button type="submit" class="btn btn-primary mt-2">Register</button></td>
                </tr>
            </tbody>
        </table>
    </form>

@if (Model.ErrorMessages != null && Model.ErrorMessages.Count > 0)
 {
     @foreach (var errorMessage in Model.ErrorMessages)
     {
             <p>@errorMessage</p>
     }
 }
</div>


<br />
<br />
<div>
    <table align="center">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3" align="center">@Html.ActionLink("Login Page", "Login", "User", null, new { @class = "btn btn-primary" })</td>
            </tr>
            <tr>
                <td colspan="3" align="center">@Html.ActionLink("Forgot Password?", "ForgotPassword", "User", null, new { @class = "btn btn-primary" })</td>
            </tr>
        </tbody>
    </table>
</div>
