@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Nutrition App</h1>
    <a asp-controller="Foods" asp-action="Search" class="btn btn-primary">Food Search</a>
</div>
