@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Nutrition App</h1>

    @if (User.Identity.IsAuthenticated)
    {
        <h2>Hello @User.Identity.Name</h2>
    }

    @if (User.Identity.IsAuthenticated)
    {
        <a asp-controller="Foods" asp-action="Search" class="btn btn-primary">Food Search</a>
        <a asp-controller="Goal" asp-action="View" class="btn btn-primary">View Diet Goals</a>
        <a asp-controller="Log" asp-action="View" class="btn btn-primary">View Diet Log</a>
        <a asp-controller="User" asp-action="Logout" class="btn btn-primary">Logout</a>
    }
    else
    {
        <a asp-controller="User" asp-action="Login" class="btn btn-primary">Login</a>
        <a asp-controller="User" asp-action="Registration" class="btn btn-primary">Sign Up</a>
    }
</div>
