@model Nutrition_App.Operations.Models.Foods.FoodSearchViewModel

<h1>Search Foods</h1>
<br />

<p>Sample query (exact): Pork, chop, lean and fat eaten</p>
<p>Sample query (general): Cheese</p>
<br />

<form asp-action="Search" method="post" class="mb-3">
    <div class="form-group">
        <label asp-for="FoodName">Food description:</label>
        <input type="text" asp-for="FoodName" class="form-control" />
        <span asp-validation-for="FoodName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Search</button>
</form>

@if (Model.QueriedFood != null)
{
    <br />
    <h2>Search Results: @Model.QueriedFood.Count</h2>
    <br />

    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Description</th>
                <th style="min-width: 250px">Action</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.QueriedFood.Count; i++)
            {
                <tr>
                    <td>@Model.QueriedFood[i].Description</td>
                    <td>
                        <a asp-controller="Nutrients"
                           asp-action="View"
                           asp-route-id="@Model.QueriedFood[i].Id">
                            View Nutrients
                        </a>
                          |  
                        <a asp-controller="Log"
                           asp-action="AddFoodToLog"
                            asp-route-id="@Model.QueriedFood[i].Id">
                            Add to Log
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}