html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-table {
    align-self: center;
    width: 50%;
    padding: 10px;
}

.form-table-alt {
    align-self: center;
    width: 75%;
    padding: 10px;
    column-gap: 5px;
}

.display-table {
    width: 50%;
    border: solid, 3px;
    padding: 10px;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
    align-items: center;
}

.grid-form > div {
    text-align: center;
    align-items: center;
    vertical-align: middle;
    padding: 0px;
    font-size: 14px;
}

    .grid-form > div.type {
        text-align: left;
    }

.submit-line {
    grid-column: 1 / span 2;
}

.btn {
    margin: 5px;
}